* {
    box-sizing: border-box;
}

.contenido {
    color: #fff;
    line-height: 1.6;
    padding: 0 1.5em;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto;
    
}

.bee {
    height: 130px;
    width: 150px;
    display:block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.content {
    background: #ffffff;
    color: #000;
    box-sizing: border-box;
    padding: 20px 50px;
    border-radius: 30px;
}

.content h3{
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
}
.formulario form {
    display: grid;
}

.formulario form label {
    display: block;
    font-size: 1.17em;
    text-align: left;
    color: #3c4858;
}

.content .info{
    font-size: 12px;
    color: #8B0000;
    padding-top: 0;
}
.formulario form p {
    margin: 0;
    padding: 1em;
}
.formulario i{
    margin-right: 8px;
    font-size: 1.1em;
}

.formulario input{
    font-size: 15px;
}

.formulario form button,
.formulario form input {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #000;
    border-bottom: 1px solid #e8a644;
}

.formulario form button {
    background: #e8a644;
    width: 70%;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;
    border-radius: 10px;
}

.formulario form button:hover,
.formulario form button:focus {
    background: #8B0000;
    color: #fff;
    transition: background-color 0.5s ease-out;
    outline: 0;
}