
@media (max-width: 800px) {

    /* ============================================== NAV ============================================== */

    .nav {
        padding-top: 100px;
    }
    
    .nav-abajo {
        padding: 100px 0;
        padding-top: 100px;
    }

}